/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #fafafa;
  font-weight: 400;
  text-align: left;
}

.label {
  display: inline-block;
  line-height: 30px;
  margin: 0;
  width: 85%;
}




@import '~@angular/material/theming';

// always include only once per project
@include mat-core();
// import our custom theme
@import 'themes/light-blue-theme';
@import 'themes/dark-blue-theme';
// specify theme class eg: <body class="my-theme"> ... </body>
.dark-blue-theme {
  // use our theme with angular-material-theme mixin
  @include angular-material-theme($dark-blue-theme);
}

.light-blue-theme {
  @include angular-material-theme($light-blue-theme);
}
